![Cover](https://raw.githubusercontent.com/TheSpaceDevs/Tutorials/main/assets/tsd_cover.png)


[![Website](https://raw.githubusercontent.com/TheSpaceDevs/Tutorials/e36b2c250ce7fcd4a801c1ed6cb1f9f9d031696b/assets/badge_tsd_website.svg)](https://thespacedevs.com/)
[![Discord](https://img.shields.io/badge/Discord-%237289DA.svg?style=for-the-badge&logo=discord&logoColor=white)](https://discord.gg/p7ntkNA)
[![Twitter](https://img.shields.io/badge/Twitter-%231DA1F2.svg?style=for-the-badge&logo=Twitter&logoColor=white)](https://twitter.com/TheSpaceDevs)
[![Patreon](https://img.shields.io/badge/Patreon-F96854?style=for-the-badge&logo=patreon&logoColor=white)](https://www.patreon.com/TheSpaceDevs)

## About us 🧑‍🚀
The Space Devs is a group of space enthusiast developers working on a range of
services, united in a common goal to improve public knowledge and accessibility
of spaceflight information. We aim to bring space app developers together into a
thriving community by providing helpful data and tools, accessible to everyone
for free.

## API Showcase - Launch Library 2 🚀

### Next Launch ⌛
The next space launch, retrieved from our
<a href="https://thespacedevs.com/llapi">Launch Library 2 API</a>, is
**{{ next_launch.name }}**. It is scheduled to be launched by *{{ next_launch.launch_service_provider.name }}*
<img width="17" src="{{get_country_flag_svg(next_launch.launch_service_provider.country_code, country_reassign=False)}}" />
from *<a href="{{ next_launch.pad.wiki_url }}">{{ next_launch.pad.name }}</a>, {{ next_launch.pad.location.name }}*
<img width="17" src="{{get_country_flag_svg(next_launch.pad.location.country_code, country_reassign=False)}}" />
at {{ make_html_linked_time(next_launch.datetime) }}.  Until
then, this pad will have been used for {{ next_launch.pad.total_launch_count }}
out of {{ next_launch.pad.location.total_launch_count }} launches from this location. The launch status is currently
*{{ next_launch.status.abbrev }}* {{ status_emoji(next_launch.status.abbrev) }}. The mission type is
*{{ next_launch.mission.type }}* and the payload will be injected
into *{{ add_a_an(next_launch.mission.orbit.name) }}
({{ next_launch.mission.orbit.abbrev }})*.
<br>
<blockquote>
  {{ next_launch.mission.description }}
</blockquote>

<p float="left" align="center">
  <a href="{{ next_launch.rocket.configuration.wiki_url }}" >
    <img alt="launch-image" width="49%" src="{{ next_launch.cached_launch_image }}" />
  </a>
  <a href="{{ next_launch.pad.map_url }}" >
    <img alt="pad-location" width="49%" src="{{ next_launch.cached_location_image }}"  />
  </a>
</p>

### Within a month's time 📅
{% for launch in parse_launches_within_a_month(launches) -%}
- \[{{ make_html_linked_time(launch.datetime) }}\]  <img width="17" src="{{get_country_flag_svg(launch.pad.location.country_code, country_reassign=True)}}" /> {{ status_emoji(launch.status.abbrev) }} {{ make_google_calender_href_icon(launch) }} **{{ launch.name }}** from {{ launch.pad.location.name }}.
{% endfor %}

### Launch Statuses 🟩🟨🟧
<p align="center">
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-0pky">Symbol</th>
        <th class="tg-0pky">Meaning</th>
        <th class="tg-0pky">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0pky">🟩</td>
        <td class="tg-0pky">Go For Launch (Go)</td>
        <td class="tg-0pky">Current T-0 confirmed by official or reliable sources.</td>
      </tr>
      <tr>
        <td class="tg-0pky">🟨</td>
        <td class="tg-0pky">To Be Confirmed (TBC)</td>
        <td class="tg-0pky">Awaiting official confirmation - current date is known with some certainty.</td>
      </tr>
      <tr>
        <td class="tg-0pky">🟧</td>
        <td class="tg-0pky">To Be Determined (TBD)</td>
        <td class="tg-0pky">Current date is a placeholder or rough estimation based on unreliable or interpreted sources.</td>
      </tr>
    </tbody>
    </table>
</p>

## API Showcase - Spaceflight News API 📰

### Latest News ⌛
{% for article in latest_news -%}
- <a href="{{ article.url }}" >🔗</a> **[{{article.newsSite}}]** {{article.title}}
{% endfor %}

### Launch-related News 🚀

{% for article in launch_news -%}
- <a href="{{ article.url }}" >🔗</a> **[{{article.newsSite}}]** {{article.title}}
{% endfor %}

<hr>
  <div align="center">
  This <code>README.md</code> was last auto generated at {{ make_html_linked_time(timestamp) }}
  <br>
  <!-- <a href="https://medium.com/@g.h.garrett" target="_blank">Learn to add space launches to your profile here!</a> -->
</div>
