## About us 🧑‍🚀
The Space Devs is a group of space enthusiast developers working on a range of
services, united in a common goal to improve public knowledge and accessibility
of spaceflight information. We aim to bring space app developers together into a
thriving community by providing helpful data and tools, accessible to everyone
for free.

## API Showcase - Launch Library 2 🚀

### Next Launch ⌛
The next space launch, retrieved from our
<a href="https://thespacedevs.com/llapi">Launch Library 2 API</a>, is
{{ next_launch.name }}. It is scheduled to be launched by *{{ next_launch.launch_service_provider.name }}* <img width="17" src="{{get_country_flag_svg(next_launch.pad.location.country_code)}}" /> from
*<a href="{{ next_launch.pad.wiki_url }}">{{ next_launch.pad.name }}</a>,
{{ next_launch.pad.location.name }}*
at {{ make_html_linked_time(next_launch.datetime) }}.  Until
then, this pad will have been used for {{ next_launch.pad.total_launch_count }}
out of {{ next_launch.pad.location.total_launch_count }} launches from this location. The launch status is currently
*{{ next_launch.status.abbrev }}* {{ status_emoji(next_launch.status.abbrev) }}. The mission type is
*{{ next_launch.mission.type }}* and the payload will be injected
into *{{ add_a_an(next_launch.mission.orbit.name) }}
({{ next_launch.mission.orbit.abbrev }})*.
<br>
<blockquote>
  {{ next_launch.mission.description }}
</blockquote>

<p float="left" align="center">
  <a href="{{ next_launch.rocket.configuration.wiki_url }}" >
    <img alt="launch-image" height="200" src="{{ next_launch.image }}" />
  </a>
  <a href="{{ next_launch.pad.map_url }}" >
    <img alt="pad-location" height="200" src="{{ next_launch.pad.location.map_image }}"  />
  </a>
</p>

### Within a month's time 📅
{% for launch in parse_launches_within_a_month(launches) -%}
- \[{{ make_html_linked_time(launch.datetime) }}\]  <img width="17" src="{{get_country_flag_svg(launch.launch_service_provider.country_code)}}" /> {{ status_emoji(launch.status.abbrev) }} {{ make_google_calender_href_icon(launch) }} **{{ launch.mission.name }}** from {{ launch.pad.location.name }}.
{% endfor %}

### Launch Statuses 🟩🟨🟧
<p align="center">
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-0pky">Symbol</th>
        <th class="tg-0pky">Meaning</th>
        <th class="tg-0pky">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0pky">🟩</td>
        <td class="tg-0pky">Go For Launch (Go)</td>
        <td class="tg-0pky">Current T-0 confirmed by official or reliable sources.</td>
      </tr>
      <tr>
        <td class="tg-0pky">🟨</td>
        <td class="tg-0pky">To Be Confirmed (TBC)</td>
        <td class="tg-0pky">Awaiting official confirmation - current date is known with some certainty.</td>
      </tr>
      <tr>
        <td class="tg-0pky">🟧</td>
        <td class="tg-0pky">To Be Determined (TBD)</td>
        <td class="tg-0pky">Current date is a placeholder or rough estimation based on unreliable or interpreted sources.</td>
      </tr>
    </tbody>
    </table>
</p>

## API Showcase - Spaceflight News API 📰
*Coming Soon*

<hr>
  <div align="center">
  This <code>README.md</code> was last auto generated at {{ make_html_linked_time(timestamp) }}
  <br>
  <!-- <a href="https://medium.com/@g.h.garrett" target="_blank">Learn to add space launches to your profile here!</a> -->
</div>
